<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:id="${id}" th:fragment="messenger-message (id, timestamp, content, messageType, to)">
        <div class="chat-right">
            <div class="chat-content-right">
                <div class="chat-hour" th:text="${timestamp}"></div>
                <div class="chat-message-boxed">
                    <div class="chat-message-head" th:switch="${messageType}">
                        <div th:case="'public'">
                            <span class="noselect chat-name" th:text="|#{course.feature.message.head.from} #{course.feature.message.head.from.myself}|"></span>
                        </div>
                        <div th:case="'user'">
                            <span class="noselect chat-name" th:text="|#{course.feature.message.head.from} #{course.feature.message.head.from.myself} #{course.feature.message.head.to} ${to}|"></span>
                        </div>
                    </div>
                    <div class="chat-message-text">
                        <p class="chat-text-content" style="overflow-wrap: break-word;" th:text="${content}"></p>
                    </div>
                    <div class="chat-message-status">
                    </div>
                </div>
                <div class="chat-avatar">
                </div>
            </div>
        </div>
    </div>
</body>
</html>