<div th:fragment="messenger">
	<div class="accordion accordion-flush" id="chatAccordion">
		<div class="accordion-item">
			<h4 class="accordion-header d-flex flex-row" id="flush-chat-heading">
				<span class="accordion-indicator" data-bs-toggle="collapse" data-bs-target="#flush-chat"></span>
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-chat"
					aria-expanded="true" aria-controls="flush-chat">
					<span class="w-100">Chat</span>
				</button>
				<button class="accordion-close-button" id="chat-close-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-chat">
					&times;
				</button>
			</h4>
			<div id="flush-chat" class="accordion-collapse collapse show" aria-labelledby="flush-chat-heading" data-bs-parent="#chatAccordion">
				<form id="course-message-form" th:action="@{/course/message/post/{id}(id=${course.id})}" method="post">
					<input type="hidden" name="serviceId" th:value="${course.messageFeature.featureId}" />
					<div class="">
						<small><label class="message-header p-1 w-100" th:text="#{course.feature.message.description}" for="messageTextarea"></label></small>
						<textarea name="text" class="form-control" rows="3" id="messageTextarea" th:placeholder="#{course.feature.message.placeholder}"></textarea>
					</div>
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-outline-primary btn-sm" id="messageSubmit">
							<i class="bi bi-send"></i>
							<span th:text="#{course.feature.message.send}"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>