<div th:fragment="messenger" class="h-100">
	<div id="chat" class="h-100  d-flex flex-column justify-content-end">
		<div id="chat-history" class="chat-container">
			<ul id="chat-history-list" class="mb-0 chat-box chatContainerScroll">
			</ul>
		</div>
		<form id="course-message-form" th:action="@{/course/message/post/{id}(id=${course.id})}" method="post" class="d-flex flex-column justify-content-end">
			<input type="hidden" name="serviceId" th:value="${course.messageFeature.featureId}" />
			<div class="input-group mb-3">
				<textarea name="text" class="form-control" rows="1" id="messageTextarea" th:placeholder="#{course.feature.message.description}" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' style="resize: none; overflow:hidden"></textarea>
				<button th:text="#{course.feature.message.send}" type="submit" class="btn btn-outline-primary btn-sm" id="messageSubmit"></button>
			</div>
		</form>
	</div>
</div>