<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:id="${id}" th:fragment="messenger-other-message (id, timestamp, content, from, messageType)">
        <div class="chat-left">
            <div class="chat-content-left">
                <div class="chat-avatar">
                    <div class="chat-name" th:text="${from}"></div>
                </div>
                <div class="chat-message-boxed">
                    <div class="chat-message-type" th:switch="${messageType}">
                        <i th:case="'public'" class="bi bi-people"></i>
                        <i th:case="'user'" class="bi bi-person"></i>
                    </div>
                    <div class="chat-message-text">
                        <p class="chat-text-content" style="overflow-wrap: break-word;" th:text="${content}"></p>
                    </div>
                    <div class="chat-message-status"></div>
                </div>
                <div class="chat-hour" th:text="${timestamp}"></div>
            </div>
        </div>
    </div>
</body>
</html>
