html, body {
	height: 100%;
}

.theme-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}
.theme-header-logo {
	font-size: 2rem;
	text-decoration: none;
}

.theme-footer {
	padding: 2rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.theme-footer p:last-child {
	margin-bottom: 0;
}

.theme-content-head {
	font-size: 1.25em;
	border-bottom: 1px solid #e5e5e5;
	line-height: 2em;
	margin-bottom: 0.5em;
}

.overlay-link {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.inner-link {
	position: relative;
	pointer-events: none;
	z-index: 1;
}
.inner-link a,
.inner-link button {
	pointer-events: all;
	position: relative;
}

.shrink {
	height: 3px;
}

.chat-container {
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.chat-box {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-height: 500px;
    margin-bottom: 10px;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
}

.chat-container li .chat-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.chat-container li.chat-right {
    justify-content: flex-end;
}


.chat-container li.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container li .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container li .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;
}

.chat-container li .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
}

.chat-container li.chat-right > .chat-text {
    text-align: right;
}

.chat-container li.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent #ffffff;
    left: inherit;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
}

.chat-container li .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}

@media (min-width: 768px) {
	.navbar-brand.abs
		{
			position: absolute;
			width: 100%;
			left: 0;
			text-align: center;
		}
}