html {
	scroll-behavior: smooth; 
}
html, body {
	height: 100%;
}

.theme-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}
.theme-header-logo {
	font-size: 2rem;
	text-decoration: none;
}

.theme-footer {
	padding: 2rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.theme-footer p:last-child {
	margin-bottom: 0;
}

.theme-content-head {
	font-size: 1.25em;
	border-bottom: 1px solid #e5e5e5;
	line-height: 2em;
	margin-bottom: 0.5em;
}

.disabled-content {
	pointer-events: none;
	opacity: 0.4;
}

.overlay-link {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.inner-link {
	position: relative;
	pointer-events: none;
	z-index: 1;
}
.inner-link a,
.inner-link button {
	pointer-events: all;
	position: relative;
}

.shrink {
	height: 3px;
}

#messenger-content #flush-chat-heading {
	display: none !important;
}

.playerContainer #flush-chat-heading {
	display: flex;
}

.message-header {
	background-color: var(--bs-gray-200);
}

#course-message-form #messageSubmit:focus {
	outline: none;
	box-shadow: none;
}

#course-message-form textarea {
	resize: none;
	border-radius: 0;
	font-size: 0.9rem;
}
#course-message-form textarea:focus {   
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 -0.25rem rgba(13, 110, 253, 0.25);
}

#deviceSelectForm video {
	max-height: 6em;
}

.chat-container {
	height: 100%;
}
.chat-container .accordion-button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0.25rem;
	font-size: 0.85rem;
	color: #212529;
	text-align: center !important;
	background-color: #fff;
	border: 0;
	border-radius: 0;
	overflow-anchor: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
.chat-container .accordion-button:not(.collapsed) {
	color: #0c63e4;
	background-color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.chat-container .accordion-button:not(.collapsed)::after {
	background-image: none;
	transform: none;
}
.chat-container .accordion-button::after {
	background-image: none;
	transform: none;
	margin-left: inherit;
	width: 0;
	height: 0;
}
.chat-container .accordion-button:not(.collapsed)::before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-180deg);
}
.chat-container .accordion-button::before {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	content: "";
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	transition: transform 0.2s ease-in-out;
}
.chat-container .accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.chat-container .accordion-item:last-of-type .accordion-collapse {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.chat-container .accordion-button:focus {
	z-index: 3;
	outline: 0;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.chat-container .accordion-close-button {
	border: 0;
	background: none;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
	overflow-anchor: none;
	padding: 0.25rem;
	font-size: 1.25rem;
}
.chat-container .accordion-button:focus .accordion-close-button {
	z-index: 3;
	outline: 0;
	box-shadow: none;
}

.chat-container ul {
	margin: 0;
}
.chat-container ul > li,
.chat-container ul > div {
	margin-bottom: 0.5em;
}

.chat-container div.chat-content-left,
.chat-container div.chat-content-right {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.chat-container div .chat-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.chat-container div.chat-content-right {
    justify-content: flex-end;
}


.chat-container div.chat-content-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container div .chat-name {
    font-size: .75rem;
    text-align: center;
}

.chat-container .chat-content-right .chat-message-boxed {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e3effd;
    color: #0F172A;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    overflow-wrap: break-word;
}

.chat-container .chat-content-left .chat-message-boxed {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f6f6f6;
	color: #0F172A;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    overflow-wrap: break-word;
}

.chat-container div .chat-message-boxed:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
    max-width: 100%;
}

.chat-container .chat-message-text {
	font-size: 0.9rem;
}
.chat-container .chat-message-text p {
    margin-bottom: 0px;
}

.chat-container div.chat-content-right .chat-message-status {
    display: flex;
    justify-content: end;
}

.chat-container .chat-message-text .chat-text-content {
    overflow-wrap: break-word;
}

.chat-container div.chat-right .chat-text-content a {
    color: white;
}

.chat-container div.chat-right .chat-message-head span {
    font-weight: bold;
}

.chat-container div.chat-left .chat-message-head span {
    font-weight: bold;
}

.chat-container div.chat-content-right > .chat-message-boxed:before {
    right: -20px;
    border-color: transparent transparent transparent #e3effd;
    left: inherit;
}

.chat-container div .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px;
	color: #64748B;
}

.chat-container div .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container div.chat-right > .chat-hour {
    margin: 0 20px 0 0;
	align-items: end;
    justify-content: end;
}

.chat-container ul {
	list-style-type: none;
}

.chat-container .log-div-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	align-items: stretch;
}
.chat-container .log-div {
	height: 100%;
}

.log-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	align-items: stretch;
}
.log-container .container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.log-container .body {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
}
.log-container .right .content {
	flex: 1 1 auto;
	overflow-y: auto;
	height: 100px;
	scroll-behavior: smooth;
}
.log-container .right {
	display: flex;
	flex-direction: column;
	flex: 0 0 15em;
	max-width: min-content;
}