<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-course}">

<head>
	<title th:text="${course.title}"></title>

	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js" crossorigin="anonymous"></script>
	<script src="/js/portal.js"></script>

	<script src="/js/pdf.worker.js"></script>
	<script th:if="${course.isConference()}" src="/js/main.js"></script>
	<script th:if="${course.isConference()}" src="/angular/runtime.js" type="module"></script>
	<script th:if="${course.isConference()}" src="/angular/polyfills.js" type="module"></script>
	<script th:if="${course.isConference()}" src="/angular/main.js" type="module"></script>
	<link rel="stylesheet" th:if="${course.isConference()}" href="/angular/styles.css">
	<link th:if="${course.isConference()}" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<base th:if="${course.isConference()}" href="/">
</head>

<body>
	<th:block th:if="${!course.isConference()}" layout:fragment="content">
		<lecture-player th:courseId="${course.id}" th:description="${course.description}" th:isLive="${course.isLive}"></lecture-player>
	</th:block>

	<th:block th:if="${course.isConference()}" layout:fragment="content">
		<app-root></app-root>
	</th:block>
</body>

</html>