<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-course}">

<head>
	<title th:text="${course.title}"></title>

	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js" crossorigin="anonymous"></script>
	<script src="/js/portal.js"></script>

	<script src="/js/pdf.worker.js"></script>
	<script src="/js/main.js"></script>

	<link rel="stylesheet" href="/js/main.css"/>
</head>

<body>
	<th:block layout:fragment="content">
		<lecture-player th:courseId="${course.id}" th:description="${course.description}" th:isLive="${course.isLive}"></lecture-player>
	</th:block>
</body>

</html>