<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-public}">

<head>
	<title th:text="#{index.imprint}"></title>
</head>

<body>

	<th:block layout:fragment="content">
		<div class="container col-xxl-8 px-4 py-5">
			<div>
				<h2>Impressum</h2>
				<h5>Diese Internetseite wird angeboten von:</h5>
			</div>
			<div class="py-2">
				<p>
					<span>Technische Universität Darmstadt</span>
					<br/>
					<span>Karolinenplatz 5</span>
					<br/>
					<span>64289 Darmstadt</span>
					<br/>
					<span>
						<i class="bi bi-telephone"></i>
						<a class="link-primary" href="tel:+4961511620202" title="Anrufen: +4961511620202">+49 6151 16-20202</a>
					</span>
				</p>
				<p>
					vertreten durch die Präsidentin der Technischen Universität Darmstadt, Prof. Dr. Tanja Brühl
				</p>
				<p>
					Die Technische Universität Darmstadt ist eine rechtsfähige Körperschaft des öffentlichen Rechts gemäß § 1 Abs. 1 i.V.m. § 2 Abs. 1 Nr. 1 HHG (Hessisches Hochschulgesetz vom 14. Dezember 2009, GVBl. I S. 666). Seit dem In-Kraft-Treten des TU Darmstadt-Gesetzes (Gesetz zur organisatorischen Fortentwicklung der Technischen Universität Darmstadt vom 05. Dezember 2004, GVBl. I S. 382, in der Fassung vom 14. Dezember 2009, GVBl. I S. 699) ist sie autonome Universität des Landes Hessen. 
				</p>
				<p>
					<span>
						<i class="bi bi-arrow-right"></i>
						<a class="link-primary" href="https://www.tu-darmstadt.de/impressum">Impressum der Technischen Universität Darmstadt</a>
					</span>
				</p>
			</div>
			<div class="py-2">
				<h5>Verantwortlich für die Webseite des Streamingportals &bdquo;lectureStreaming&rdquo;:</h5>
				<p>
					<span>Technische Universität Darmstadt</span>
					<br/>
					<span>Fachgebiet Echtzeitsysteme</span>
					<br/>
					<span>Merckstraße 25</span>
					<br/>
					<span>64283 Darmstadt</span>
					<br/>
					<span>
						<i class="bi bi-telephone"></i>
						<a class="link-primary" href="tel:+4961511622350" title="Anrufen: +4961511622350">+49 6151 16-22350</a>
					</span>
					<br/>
					<span>
						<i class="bi bi-envelope"></i>
						<a class="link-primary" href="mailto:sekretariat@es.tu-darmstadt.de" title="E-Mail an: sekretariat@es.tu-darmstadt.de">sekretariat@es.tu-...</a>
					</span>
				</p>
				<p>
					vertreten durch <b>den Fachgebietsleiter <a href="https://www.es.tu-darmstadt.de/es/team/andy-schuerr">Prof. Dr. rer. nat. Andy Schürr</a></b>
				</p>
			</div>
			<div class="py-2">
				<p>
					Der Betreiber übernimmt keine Verantwortung für die Inhalte oder Praktiken der übermittelten Kurse.
				</p>
			</div>
		</div>
	</th:block>

</body>

</html>