<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-public}">

<head>
	<title th:text="#{index.privacy.policy}"></title>
</head>

<body>

	<th:block layout:fragment="content">
		<div class="container col-xxl-8 px-4 py-5">
			<div>
				<h2>Datenschutzerklärung</h2>
			</div>
			<div class="py-2"><b>Verantwortlicher</b></div>
			<div class="pb-4">
				Technische Universität Darmstadt
				<br />
				Fachbereich Elektrotechnik und Informationstechnik (etit)
				<br />
				Fraunhoferstraße 4
				<br />
				64283 Darmstadt
				<br />
				<br />
				Telefon: <a class="link-primary" href="tel:+4961511620202" title="Anrufen: +4961511620202">+49 6151 16-20202</a>
				<br />
				Internet: <a href="https://www.etit.tu-darmstadt.de" target="_blank">www.etit.tu-darmstadt.de</a>
				<br />
				<br />
				Bei Anfragen oder Beschwerden zum Datenschutz können Sie sich mit den Datenschutzbeauftragten der Technischen
				Universität Darmstadt in Verbindung setzen.
			</div>
			<div class="py-2"><b>Kontaktdaten der Datenschutzbeauftragten</b></div>
			<div class="pb-4">
				Technische Universität Darmstadt
				<br />
				Die behördlichen Datenschutzbeauftragten
				<br />
				Karolinenplatz 5
				<br />
				64289 Darmstadt
				<br />
				<br />
				Internet: <a href="https://www.tu-darmstadt.de/datenschutz" target="_blank">www.tu-darmstadt.de/datenschutz</a>
			</div>
			<div class="py-2"><b>Hosting</b></div>
			<div class="pb-4">
				Der Betrieb der dedizierten Web- und Streaming-Server erfolgt ausschließlich im Netz und in der IT-Infrastruktur der
				Technischen Universität Darmstadt. Administrativer Zugriff erfolgt ausschließlich mit verschlüsselten Verbindungen
				und kryptographischen Authentifizierungs-schlüsseln.
			</div>
			<div class="py-2"><b>Verarbeitungszwecke</b></div>
			<div class="pb-4">
				Wir verarbeiten personenbezogene Daten unserer Nutzer/innen grundsätzlich nur, soweit dies zur Bereitstellung eines
				funktionsfähigen Web- und Streaming-Servers sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung
				personenbezogener Daten der Dozenten/innen und Teilnehmer/innen erfolgt nur nach deren ausdrücklicher Einwilligung
				beim Login auf der Webseite.
				<br /><br />
				Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Nutzung
				entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen
				Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche
				unterliegt, vorgesehen wurde.
			</div>
			<div class="py-2"><b>Beim Besuch der Webseite</b></div>
			<div class="pb-4">
				Bei jedem Aufruf unserer Internetseite übermittelt Ihr Browser systembedingt Daten und Informationen an unser
				System.
				<br /><br />
				<div class="pb-2">Folgende Daten werden hierbei erhoben:</div>
				<ul>
					<li>Informationen über den Browsertyp mit Version</li>
					<li>Das Betriebssystem der Teilnehmer/innen und Dozenten/innen</li>
					<li>Datum und Uhrzeit des Zugriffs</li>
					<li>Websites, von denen das System der Teilnehmer/innen und Dozenten/innen auf die Seite des Webservers gelangt</li>
					<li>Die öffentliche IP-Adresse des aufrufenden Computersystems/Netzwerks (i.d.R. des Routers)</li>
				</ul>
				Rechtsgrundlage für die vorübergehende Speicherung der Daten ist Art. 6 Abs. 1 lit. f DSGVO.
				<br /><br />
				Diese Daten werden nur zu technischen Zwecken und nicht zur Herstellung eines konkreten Personenbezuges ausgewertet
				und werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle
				der Erfassung der Daten zur Bereitstellung der Webseite ist dies der Fall, wenn die jeweilige Sitzung beendet ist.
				<br /><br />
				Aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die
				Sie an uns als Seitenbetreiber senden, wird ausschließlich eine TLS-Verschlüsselung genutzt. Eine verschlüsselte
				Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem
				Schloss-Symbol in Ihrer Browserzeile.
			</div>
			<div class="py-2"><b>Login</b></div>
			<div class="pb-4">
				Der Login erfolgt beim Hochschulrechenzentrum (HRZ) der Technischen Universität
				Darmstadt über eine zentrale Web-Authentisierung per Single Sign-On (SSO). Jede/r Angehörige der TU Darmstadt hat
				eine TU-ID und ein Passwort, die den Zugang zu allen am SSO-System angeschlossenen Diensten ermöglicht. Sobald sich
				Nutzer/innen einmal am Single Sign-On-Server angemeldet haben, findet innerhalb einer Browser-Session keine weitere
				Authentifizierung statt. Durch die zentrale Login-Seite wird das Passwort geschützt, denn an angeschlossene Dienste
				werden die Login-Daten (Passwort) nicht weitergeleitet.
				<br /><br />
				Vor dem Login werden Ihnen die Daten, die an unseren Webserver weitergegeben werden, angezeigt und erst mit Ihrer
				Bestätigung an unseren Webserver übermittelt.
				<br /><br />
				Die Rechtsgrundlage für die Übermittlung basiert, sofern Sie diese geben, auf Ihrer Einwilligung (Art. 6 Abs. 1 lit.
				a DSGVO).
			</div>
			<div class="py-2"><b>Dozenten/innen</b></div>
			<div class="pb-4">
				<div class="pb-2">
					Die Daten der Dozenten/innen werden beim Login vom zentralen Web-Authentisierungs-Dienst erfragt.
					Folgende notwendige Daten werden erhoben, die für die Funktion der Webseite erforderlich sind:
				</div>
				<ul>
					<li>Eindeutige TU-ID</li>
					<li>Vor- und Nachname</li>
					<li>TU-Zugehörigkeit, Mehrfachbelegung (Beschäftigte/r, Student/in, Lehrbeauftragte/r, Gäste und Partner)</li>
				</ul>
				Diese Daten werden nur dann über einen längeren Zeitraum – über die Länge der Browsersitzung – gespeichert, wenn Sie
				als Dozent/in Kurse zum Streaming auf der Webseite anlegen und anbieten. Ihre TU-ID sowie Vor- und Nachname werden
				mit dem von Ihnen angelegten Kurs verknüpft und gespeichert.
				<br /><br />
				Die TU-Zugehörigkeit dient nur dem Zweck, um zu unterscheiden welche Rechte Nutzer/innen auf der Webseite haben und
				wird nicht gespeichert, da diese Information beim nächsten Login wieder zur Verfügung steht.
				Freiwillig können weitere Profildaten angegeben werden, beispielsweise ein Profilbild, Sprache, etc.
				<br /><br />
				Die Verarbeitung des freiwillig hochgeladenen Profilbildes und gegebenenfalls weiterer sensibler Daten, die
				Dozenten/innen im eigenen Profil ergänzen, erfolgt aufgrund von Art. 9 Abs. 2 lit. e DSGVO.
				<br /><br />
				Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.
				Dies geschieht, wenn Sie als Dozent/in alle Kurse auf der Webseite gelöscht haben.
				<br /><br />
				Um die Anzeige von Video und die Wiedergabe von Audio zu ermöglichen, werden während der Dauer des Streamings die
				Daten vom Mikrofon sowie von einer etwaigen
				Videokamera Ihres Endgeräts verarbeitet. Sie können die Kamera oder das Mikrofon jederzeit selbst im
				Präsentations-Werkzeug lecturePresenter abschalten bzw. stummstellen. Audio und Video werden zu keiner Zeit auf den
				von uns betriebenen Web- und Streaming-Servern aufgezeichnet.
			</div>
			<div class="py-2"><b>Teilnehmer/innen</b></div>
			<div class="pb-4">
				<div class="pb-2">
					Die Daten der Teilnehmer/innen werden beim Login vom zentralen Web-Authentisierungs-Dienst erfragt. Folgende
					notwendige Daten werden erhoben, die für die Funktion der Webseite und die Teilnahme an Kursen erforderlich
					sind:
				</div>
				<ul>
					<li>Eindeutige TU-ID</li>
					<li>Vor- und Nachname</li>
					<li>TU-Zugehörigkeit, Mehrfachbelegung (Beschäftigte/r, Student/in, Lehrbeauftragte/r, Gäste und Partner)</li>
				</ul>
				Teilnehmer/innen können keine Kurse anbieten. Sie nehmen passiv an Kursen teil, können aber auch ggf. aktiv mit
				Dozenten/innen interagieren, wenn Interaktionsfunktionen aktiviert wurden. Daher werden die erhobenen Daten nicht
				über die Länge der Browsersitzung gespeichert, da diese Information beim nächsten Login wieder zur Verfügung steht.
				<br /><br />
				Die TU-Zugehörigkeit dient nur dem Zweck, um zu unterscheiden, welche Rechte Nutzer/innen auf der Webseite haben und
				wird somit nicht gespeichert.
				<br /><br />
				Um an einem laufenden Kurs teilzunehmen, sind Angaben wie TU-ID, Vor- und Nachname Pflicht. Diese dienen der
				Identifikation der Teilnehmer/innen bei Interaktionen mit Dozenten/innen. Im Falle eines Missbrauchs der angebotenen
				Interaktionsmöglichkeiten von Teilnehmer/innen und Dozent/innen (z.B. beleidigende Äußerungen in einem laufenden
				Stream) können diese Daten an für die Weiterverfolgung dieses Missbrauchs zuständige Stellen weitergegeben werden.
				<br /><br />
				Vor- und Nachname sind nur Dozenten/innen sichtbar, wenn Teilnehmer/innen diesen eine Textnachricht schreiben oder
				eine Anfrage für einen Redebeitrag stellen. Bis auf diese genannte Übermittlung von Daten nehmen alle
				Teilnehmer/innen anonym an Kursen teil. Anderen Teilnehmer/innen ist zu keiner Zeit sichtbar oder erkennbar, wer an
				einem Kurs teilnimmt.
				<br /><br />
				Dozenten/innen sehen, wie viele Teilnehmer/innen zu einem bestimmten Zeitpunkt an ihrem Kurs teilnehmen, sehen aber
				nicht wer (TU-ID, Vor- und Nachname) teilnimmt.
				<br /><br />
				Ein angenommener Redebeitrag ist für alle Teilnehmer/innen hörbar und ggf. sichtbar, wenn der Nutzung der Kamera auf
				Seite des/der Teilnehmers/in zugestimmt wurde.
				<br /><br />
				Die Teilnahme an Umfragen wird anonymisiert an Dozenten/innen übertragen und dort in Form von Diagrammen aggregiert.
				Diese Diagramme mit den aggregierten Umfrageergebnissen können den Teilnehmer/innen gezeigt und damit ggf.
				Bestandteil einer lokalen Aufzeichnung werden.
			</div>
			<div class="py-2"><b>Verwendung von Cookies</b></div>
			<div class="pb-4">
				Cookies sind kleine Textdateien und enthalten eine charakteristische Zeichenfolge, die eine Identifizierung des Browsers
				beim erneuten Aufrufen der Website ermöglicht. Rufen Nutzer/innen die Webseite auf, so kann ein Cookie auf dem
				Dateisystem der Nutzer/innen gespeichert werden.
				<br /><br />
				<div class="pb-2">Die Webseite nutzt folgende technisch notwendige Session-Cookies, die für die Funktion der Webseite
					erforderlich sind:</div>
				<ul>
					<li>
						JSESSIONID: Weist dem Browser für die Dauer Ihres Besuches eine anonymisierte ID (Session ID) zu, um mehrere
						zusammengehörige Anfragen an den Webserver zu bündeln und einer Sitzung zuordnen zu können.
					</li>
				</ul>
				Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO.
				<br /><br />
				Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur Erstellung von Nutzerprofilen verwendet.
				<br /><br />
				Die Session-Cookies werden nach dem Verlassen unserer Webseite automatisch gelöscht.
			</div>
			<div class="py-2"><b>Verwendung des Local Storage</b></div>
			<div class="pb-4">
				Damit Sie unsere Webseite Ihrer Nutzung anpassen können, verwenden wir neben Cookies auch die sogenannte „Local
				Storage“-Technik (auch „Lokale Daten“ und „Lokaler Speicher“ genannt. Local Storage stellt Speicher ohne Ablaufdatum
				im Browser der Nutzer/innen zur Verfügung. Auf die im Local Storage gespeicherten Daten können Dritte nicht
				zugreifen.
				<br /><br />
				Teilnehmer/innen haben die Möglichkeit die zu verwendenden Ein-/Ausgabegeräte wie Mikrofon und Kamera auszuwählen
				und im Local Storage des verwendeten Browsers zu speichern.
				<br /><br />
				<div class="pb-2">Folgende Einträge werden dazu hinterlegt:</div>
				<ul>
					<li>audioinput: Die Geräte-ID des ausgewählten Mikrofons.</li>
					<li>audiooutput: Die Geräte-ID des ausgewählten Lautsprechers (in künftigem Release).</li>
					<li>videoinput: Die Geräte-ID der ausgewählten Kamera.</li>
				</ul>
			</div>
			<div class="py-2"><b>Video-/Audio-Übertragung</b></div>
			<div class="pb-4">
				Während des aktiven Streamings eines Kurses werden Audio, Video, Textnachrichten und Bildschirmfreigaben der
				Dozenten/innen und Teilnehmer/innen an die jeweiligen anderen Teilnehmer/innen verschlüsselt übertragen. Die
				Übertragung der Medienströme erfolgt hierbei ohne einer Ende-zu-Ende-Verschlüsselung. Damit sind die Daten auf dem
				Transportweg bzw. im Netzwerk verschlüsselt, auf dem Streaming-Server hingegen wird der gesamte Datenverkehr
				entschlüsselt und ist damit für den Betreiber einsehbar.
			</div>
			<div class="py-2"><b>Rechte der betroffenen Person</b></div>
			<div class="pb-4">
				<div class="pb-2">Sie haben als betroffene Person das Recht auf:</div>
				<ul>
					<li>Auskunft vom Verantwortlichen über die Sie betreffenden personenbezogenen Daten</li>
					<li>Berichtigung Ihrer Daten</li>
					<li>Löschung Ihrer Daten</li>
					<li>Einschränkung der Verarbeitung Ihrer Daten</li>
					<li>Datenübertragbarkeit</li>
					<li>Widerruf der datenschutzrechtlichen Einwilligungserklärung</li>
				</ul>
				Sie haben das Recht auf Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten, wenn die in Art. 21 DSGVO
				genannten Voraussetzungen vorliegen.
				<br /><br />
				Ihre Betroffenenrechte können Sie ausüben gegenüber der Technischen Universität Darmstadt. Bitte wenden Sie sich
				dafür an den behördlichen Datenschutzbeauftragten der Technischen Universität Darmstadt oder an die oben angegebene
				Kontaktperson des Fachbereichs.
				<br /><br />
				Darüber hinaus haben Sie nach Art. 77 DSGVO die Möglichkeit, sich mit einer Beschwerde an eine
				Datenschutzaufsichtsbehörde zu wenden.
				<br /><br />
				<div class="pb-2">Kontaktdaten der zuständigen Aufsichtsbehörde:</div>
				Der Hessische Beauftragte für Datenschutz und Informationsfreiheit
				<br />
				Postfach 3163
				<br />
				65021 Wiesbaden
				<br /><br />
				E-Mail: <a href="mailto:poststelle@datenschutz.hessen.de" title="E-Mail an: poststelle@datenschutz.hessen.de">poststelle@datenschutz.hessen.de</a>
				<br />
				Internet: <a href="https://datenschutz.hessen.de" target="_blank">https://datenschutz.hessen.de</a>
				<br /><br />
				Telefon: +49 611 1408 - 0
				<br />
				Telefax: +49 611 1408 - 900 / 901
			</div>
		</div>
	</th:block>

</body>

</html>