<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<title th:text="#{settings.title}"></title>
</head>

<body>

	<th:block layout:fragment="content">
		<div class="d-flex justify-content-between theme-content-head">
			<div th:text="#{settings.title}"></div>
		</div>
		<div class="bg-light border rounded-3 p-4">
			<div class="row">
				<h6 th:text="#{devices.settings}"></h6>
			</div>
			<div class="row alert alert-warning m-2 d-none" id="cameraBlockedAlert" role="alert">
				<span th:text="#{devices.camera.blocked}"></span>
			</div>
			<div class="row">
				<div class="col-md-4">
					<video id="cameraPreview" class="py-2 ratio ratio-16x9" playsinline autoplay muted></video>
				</div>
				<div class="col-md-8">
					<form id="deviceSelectForm">
						<div class="mb-3" id="cameraSelectContainer">
							<label th:text="#{devices.camera}" for="cameraSelect" class="form-label"></label>
							<select name="videoInput" id="cameraSelect" class="form-select form-select-sm"
								aria-label=".form-select-sm camera">
								<option value="none" th:text="#{devices.none}"></option>
							</select>
						</div>
						<div class="mb-3">
							<label th:text="#{devices.microphone}" for="microphoneSelect" class="form-label"></label>
							<select name="audioInput" id="microphoneSelect" class="form-select form-select-sm"
								aria-label=".form-select-sm microphone">
							</select>
						</div>
						<div class="mb-3">
							<label for="microphoneVolume" class="form-label">Lautstärke</label> – <span id="microphoneVolume-display"></span>
							<div>
								<input type="range" class="form-range" min="0" max="300" id="microphoneVolume" value="100">
							</div>
							<div class="row pb-3">
								<canvas id="meter" height="3"></canvas>
							</div>
							<script>
								const range = document.getElementById("microphoneVolume");
								range.addEventListener("input", () => {
									localStorage.setItem('microfoneVolume', range.value);
									document.getElementById("microphoneVolume-display").innerHTML = range.value + "%";
								});
								const volume = localStorage.getItem('microfoneVolume');
								if(volume !== null){
									range.value = volume;
								}
								range.dispatchEvent(new Event('input'));
							</script>
							<div class="card">
								<div class="card-header">Mikrofon durch Aufnahme testen</div>
								<div class="card-body">
									<button type="button" class="btn btn-outline-primary" id="record-start"><i class="bi bi-record-fill"></i> Aufnahme starten</button>
									<button type="button" class="btn btn-danger" id="record-stop" style="display:none;"><i class="bi bi-stop-fill"></i> Aufnahme stoppen</button>
									<section id="sound-clips"></section>
								</div>
								<style>
									#sound-clips:empty:before {
										content: 'Die Aufnahme wird nur lokal im Browser zwischengespeichert ';
									}
								</style>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="">
				<button th:text="#{devices.reset}" type="button" id="resetDeviceSelection"
					class="btn btn-outline-secondary btn-sm me-2"></button>
				<button th:text="#{devices.save.changes}" type="button" id="saveDeviceSelection"
					class="btn btn-outline-primary btn-sm"></button>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="optional">
		<script src="/js/settings.js"></script>
	</th:block>

</body>

</html>